/* Define the body background color */
body {
  background-color: #0A0E14;
  color: white;
  font-family: Arial, sans-serif;
}

/* Define the header style */
header {
  background-color: #1C2331;
  padding: 20px;
}

/* Define the main content style */
main {
  background-color: #34495E;
  padding: 20px;
}

/* Define the sidebar style */
aside {
  background-color: #4E6172;
  padding: 20px;
}

/* Define the footer style */
footer {
  background-color: #6C7A89;
  padding: 20px;
  color: #8D99AE;
}

/* Define the links style */
a{
  color: #D35400;
}
