body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background: #54494B;
    color: #ffffff;
    padding: 20px;
}
ul {
    color: green;
}
button {
    background: rgb(144, 202, 144);
    padding: 10px;
    color: white;
}

